@media (max-width: 1024px) {


    .content-hero{
        flex-direction: column;
    }

  .experience-content {
    flex-direction: column;
    gap: 48px;
  }

  .experience-block{
    width: 100%;
    max-width: 724px;
  }
}